In [ ]:
import pandas as pd

In [2]:
#检测User数据集中用户和交互行为数据集中用户是否一致
def user_action_check():
    df_user = pd.read_csv('JData_User.csv',encoding='gbk')
    df_sku = df_user.loc[:,'user_id'].to_frame()  #将user_id赋给df_sku
    df_month2 = pd.read_csv('JData_Action_201602.csv',encoding='gbk')
    print('Is action of Feb. from User file?', len(df_month2) == len(pd.merge(df_sku,df_month2)))
    df_month3 = pd.read_csv('JData_Action_201603.csv',encoding='gbk')
    print('Is action of Mar. from User file?', len(df_month3) == len(pd.merge(df_sku,df_month3)))
    df_month4 = pd.read_csv('JData_Action_201604.csv',encoding='gbk')
    print('Is action of Apr. from User file?', len(df_month4) == len(pd.merge(df_sku,df_month4)))
    
user_action_check()

Is action of Feb. from User file? True
Is action of Mar. from User file? True
Is action of Apr. from User file? True

In [3]:
#检测是否有重复记录
def deduplicate(filepath,filename,newpath):
    df_file = pd.read_csv(filepath,encoding='gbk')
    before = df_file.shape[0]
    df_file.drop_duplicates(inplace=True)
    after = df_file.shape[0]
    n_dup = before-after
    print('No. of duplicate records for ' + filename + 'is:' + str(n_dup))
    if n_dup != 0:
        df_file.to_csv(newpath,index=None)
    else:
        print('no duplicate records in '+ filename)

In [4]:
deduplicate('JData_Action_201603.csv','Mar. action','JData_Action_201603.csv')
deduplicate('JData_Action_201604.csv','Feb. action','JData_Action_201604.csv')
deduplicate('JData_Comment.csv','Comment','JData_Comment.csv')
deduplicate('JData_Product.csv','Product','JData_Product.csv')
deduplicate('JData_User.csv','User','JData_User.csv')

No. of duplicate records for Mar. actionis:0
no duplicate records in Mar. action
No. of duplicate records for Feb. actionis:0
no duplicate records in Feb. action
No. of duplicate records for Commentis:0
no duplicate records in Comment
No. of duplicate records for Productis:0
no duplicate records in Product
No. of duplicate records for Useris:0
no duplicate records in User

In [5]:
#查看重复数据位置
df_month2 = pd.read_csv('JData_Action_201602.csv')
IsDuplicated = df_month2.duplicated()
df_d=df_month2[IsDuplicated]
df_d.groupby('type').count()

      user_id   sku_id     time  model_id     cate    brand
type
1     2176378  2176378  2176378         0  2176378  2176378
2         636      636      636         0      636      636
3        1464     1464     1464         0     1464     1464
4          37       37       37         0       37       37
5        1981     1981     1981         0     1981     1981
6      575597   575597   575597    545054   575597   575597

In [6]:
#检测是否存在注册时间在2016.4.15之后的用户
df_user = pd.read_csv('JData_User.csv',encoding='gbk')
df_user['user_reg_tm']=pd.to_datetime(df_user['user_reg_tm'])  #将df_user DataFrame中的user_reg_tm列转换为datetime类型
df_user.loc[df_user.user_reg_tm >= '2016-4-15']  #选取df_user DataFrame中user_reg_tm列大于或等于'2016-4-15'的所有行

       user_id  age  sex  user_lv_cd user_reg_tm
7457    207458 -1.0  2.0           1  2016-04-15
7463    207464  3.0  2.0           2  2016-04-15
7467    207468  4.0  2.0           3  2016-04-15
7472    207473 -1.0  2.0           1  2016-04-15
7482    207483  3.0  2.0           3  2016-04-15
7492    207493  2.0  2.0           3  2016-04-15
7493    207494  2.0  2.0           3  2016-04-15
7503    207504  2.0  2.0           4  2016-04-15
7510    207511  5.0  2.0           5  2016-04-15
7512    207513 -1.0  2.0           1  2016-04-15
7518    207519  3.0  2.0           2  2016-04-15
7521    207522  3.0  0.0           3  2016-04-15
7525    207526 -1.0  2.0           3  2016-04-15
7533    207534 -1.0  2.0           1  2016-04-15
7543    207544  3.0  2.0           3  2016-04-15
7544    207545 -1.0  2.0           1  2016-04-15
7551    207552  3.0  2.0           3  2016-04-15
7553    207554  2.0  2.0           4  2016-04-15
8545    208546  2.0  0.0           2  2016-04-29
9394    209395  2.0  1.0           2  2016-05-11
10362   210363  6.0  2.0           2  2016-05-24
10367   210368 -1.0  2.0           1  2016-05-24
11019   211020  4.0  2.0           3  2016-06-06
12014   212015  4.0  2.0           2  2016-07-05
13850   213851  3.0  2.0           3  2016-09-11
14542   214543 -1.0  2.0           1  2016-10-05
16746   216747  2.0  2.0           1  2016-11-25

In [7]:
df_month = pd.read_csv('JData_Action_201604.csv')
df_month['time'] = pd.to_datetime(df_month['time'])
df_month.loc[df_month.time >= '2016-4-16']  #说明没有产生异常操作数据

Empty DataFrame
Columns: [user_id, sku_id, time, model_id, type, cate, brand]
Index: []

In [8]:
#将行为数据中的user_id进行int类型转换
df_month = pd.read_csv('JData_Action_201603.csv',encoding='gbk')
df_month['user_id'] = df_month['user_id'].apply(lambda x:int(x))  #将user_id转换为int类型
print(df_month['user_id'].dtype)
df_month.to_csv('JData_Action_201603.csv',index=None)
df_month = pd.read_csv('JData_Action_201603.csv',encoding='gbk')
df_month['user_id'] = df_month['user_id'].apply(lambda x:int(x))
print(df_month['user_id'].dtype)
df_month.to_csv('JData_Action_201603.csv',index=None)
df_month = pd.read_csv('JData_Action_201604.csv',encoding='gbk')
df_month['user_id'] = df_month['user_id'].apply(lambda x:int(x))
print(df_month['user_id'].dtype)
df_month.to_csv('JData_Action_201604.csv',index=None)

int64
int64
int64

In [9]:
#将user年龄进行分层
df_user = pd.read_csv('JData_User.csv',encoding='gbk')

def tranAge(x):
    if x== u'15岁以下':
        x='1'
    elif x== u'16-25岁':
        x='2'
    elif x== u'26-35岁':
        x='3'
    elif x== u'36-45岁':
        x='4'
    elif x== u'46-55岁':
        x='5'
    elif x== u'56岁以上':
        x='6'
    return x
df_user['age']=df_user['age'].apply(tranAge)
print(df_user.groupby(df_user['age']).count())  #查看每个年龄段的用户数量
df_user.to_csv('JData_User.csv',index=None)

      user_id    sex  user_lv_cd  user_reg_tm
age
-1.0    14412  14412       14412        14412
 1.0        7      7           7            7
 2.0     8797   8797        8797         8797
 3.0    46570  46570       46570        46570
 4.0    30336  30336       30336        30336
 5.0     3325   3325        3325         3325
 6.0     1871   1871        1871         1871

In [10]:
#定义文件名
ACTION_201602_FILE = "JData_Action_201602.csv"
ACTION_201603_FILE = "JData_Action_201603.csv"
ACTION_201604_FILE = "JData_Action_201604.csv"
COMMENT_FILE = "JData_Comment.csv"
PRODUCT_FILE = "JData_Product.csv"
USER_FILE = "JData_User.csv"
ITEM_TABLE_FILE = 'User_table.csv'
ITEM_TABLE_FILE = 'Item_table.csv'

In [11]:
#导入相关包
import pandas as pd
import numpy as np
from collections import Counter

In [12]:
# 功能函数：对每一个user分组的数据进行统计
def add_type_count(group):
    behavior_type = group.type.astype(int)
    #用户行为类型
    type_cnt = Counter(behavior_type)
    # 1：浏览 2：加购 3：收藏
    # 4：购买 5：收藏 6：点击
    group['browse_num'] = type_cnt[1]
    group['addcart_num'] = type_cnt[2]
    group['delcart_num'] = type_cnt[3]
    group['buy_num'] = type_cnt[4]
    group['favor_num'] = type_cnt[5]
    group['click_num'] = type_cnt[6]
    
    return group[['user_id','browse_num','addcart_num','delcart_num',
                 'buy_num','favor_num','click_num']]

In [13]:
#对action数据进行统计
#根据自己调节chunk_size大小
def get_from_action_data(fname, chunk_size=50000):
    reader = pd.read_csv(fname, header=0, iterator=True,encoding='gbk')
    chunks = []
    loop = True
    while loop:
        try:
            # 只读取user_id和type两个字段
            chunk = reader.get_chunk(chunk_size)[["user_id", "type"]]
            chunks.append(chunk)
        except StopIteration:
            loop = False
            print("Iteration is stopped")
    # 将块拼接为pandas dataframe格式
    df_ac = pd.concat(chunks, ignore_index=True)
    # 按user_id分组，对每一组进行统计，as_index 表示无索引形式返回数据
    df_ac = df_ac.groupby(['user_id'], as_index=False).apply(add_type_count)
    # 将重复的行丢弃
    df_ac = df_ac.drop_duplicates('user_id')

    return df_ac

In [17]:
# 将各个action数据的统计量进行聚合
def merge_action_data():
    df_ac = []
    df_ac.append(get_from_action_data(fname=ACTION_201602_FILE))
    df_ac.append(get_from_action_data(fname=ACTION_201603_FILE))
    df_ac.append(get_from_action_data(fname=ACTION_201604_FILE))

    df_ac = pd.concat(df_ac, ignore_index=True)
    # 用户在不同action表中统计量求和
    df_ac = df_ac.groupby(['user_id'], as_index=False).sum()
    #　构造转化率字段
    df_ac['buy_addcart_ratio'] = df_ac['buy_num'] / df_ac['addcart_num']
    df_ac['buy_browse_ratio'] = df_ac['buy_num'] / df_ac['browse_num']
    df_ac['buy_click_ratio'] = df_ac['buy_num'] / df_ac['click_num']
    df_ac['buy_favor_ratio'] = df_ac['buy_num'] / df_ac['favor_num']
    
    # 将大于１的转化率字段置为１(100%)
    df_ac.loc[df_ac['buy_addcart_ratio'] > 1., 'buy_addcart_ratio'] = 1.
    df_ac.loc[df_ac['buy_browse_ratio'] > 1., 'buy_browse_ratio'] = 1.
    df_ac.loc[df_ac['buy_click_ratio'] > 1., 'buy_click_ratio'] = 1.
    df_ac.loc[df_ac['buy_favor_ratio'] > 1., 'buy_favor_ratio'] = 1.

    return df_ac

In [15]:
# 从FJData_User表中抽取需要的字段
def get_fron_jdata_user():
    df_usr = pd.read_csv(USER_FILE,header=0)
    df_usr = df_usr[['user_id','age','sex','user_lv_cd']]
    return df_usr

In [18]:
user_base = get_fron_jdata_user()
user_behavior = merge_action_data()

Iteration is stopped
Iteration is stopped
Iteration is stopped